<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlClientSample.My.MySettings.ConnectionLocal" connectionString="Server=LocalServerName\myInstanceName;Database=myDataBase;User Id=myUsername;" />
        <add name="SqlClientSample.My.MySettings.ConnectionRemote" connectionString="Server=RemoteServerName\myInstanceName;Database=myDataBase;User Id=myUsername;" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>